<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel ep_op_temp search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN OP_ID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_OP_ID}  r-horizontal-field form-horizontal" 
	
		data-fieldname="OP_ID" 
	
	data-signal-error-for="OP_ID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="OP_ID" >


	<label class="r-search-label control-label" for="{$labelfor_OP_ID}">
		{$label ep_op_temp OP_ID }	</label>
	<div class="r-search-option">
		{$searchtype_OP_ID}
	</div>
	<div class="r-search-field">
		{$OP_ID_editcontrol}	</div>
	<div class="r-search-field">
		{$OP_ID_editcontrol1}
	</div>
	
</div>

{END OP_ID_fieldblock}
											
{BEGIN Numero_Documento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Numero_Documento}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Numero Documento" 
	
	data-signal-error-for="Numero_Documento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="Numero_Documento" >


	<label class="r-search-label control-label" for="{$labelfor_Numero_Documento}">
		{$label ep_op_temp Numero_Documento }	</label>
	<div class="r-search-option">
		{$searchtype_Numero_Documento}
	</div>
	<div class="r-search-field">
		{$Numero_Documento_editcontrol}	</div>
	<div class="r-search-field">
		{$Numero_Documento_editcontrol1}
	</div>
	
</div>

{END Numero_Documento_fieldblock}
											
{BEGIN Fecha_de_Registro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha_de_Registro}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Fecha de Registro" 
	
	data-signal-error-for="Fecha_de_Registro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="Fecha_de_Registro" >


	<label class="r-search-label control-label" for="{$labelfor_Fecha_de_Registro}">
		{$label ep_op_temp Fecha_de_Registro }	</label>
	<div class="r-search-option">
		{$searchtype_Fecha_de_Registro}
	</div>
	<div class="r-search-field">
		{$Fecha_de_Registro_editcontrol}	</div>
	<div class="r-search-field">
		{$Fecha_de_Registro_editcontrol1}
	</div>
	
</div>

{END Fecha_de_Registro_fieldblock}
											
{BEGIN Fecha_de_pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha_de_pago}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Fecha de pago" 
	
	data-signal-error-for="Fecha_de_pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="Fecha_de_pago" >


	<label class="r-search-label control-label" for="{$labelfor_Fecha_de_pago}">
		{$label ep_op_temp Fecha_de_pago }	</label>
	<div class="r-search-option">
		{$searchtype_Fecha_de_pago}
	</div>
	<div class="r-search-field">
		{$Fecha_de_pago_editcontrol}	</div>
	<div class="r-search-field">
		{$Fecha_de_pago_editcontrol1}
	</div>
	
</div>

{END Fecha_de_pago_fieldblock}
											
{BEGIN Estado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Estado}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Estado" 
	
	data-signal-error-for="Estado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="Estado" >


	<label class="r-search-label control-label" for="{$labelfor_Estado}">
		{$label ep_op_temp Estado }	</label>
	<div class="r-search-option">
		{$searchtype_Estado}
	</div>
	<div class="r-search-field">
		{$Estado_editcontrol}	</div>
	<div class="r-search-field">
		{$Estado_editcontrol1}
	</div>
	
</div>

{END Estado_fieldblock}
											
{BEGIN Valor_Bruto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Valor_Bruto}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Valor Bruto" 
	
	data-signal-error-for="Valor_Bruto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Valor_Bruto" >


	<label class="r-search-label control-label" for="{$labelfor_Valor_Bruto}">
		{$label ep_op_temp Valor_Bruto }	</label>
	<div class="r-search-option">
		{$searchtype_Valor_Bruto}
	</div>
	<div class="r-search-field">
		{$Valor_Bruto_editcontrol}	</div>
	<div class="r-search-field">
		{$Valor_Bruto_editcontrol1}
	</div>
	
</div>

{END Valor_Bruto_fieldblock}
											
{BEGIN Valor_Deducciones_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Valor_Deducciones}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Valor Deducciones" 
	
	data-signal-error-for="Valor_Deducciones{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Valor_Deducciones" >


	<label class="r-search-label control-label" for="{$labelfor_Valor_Deducciones}">
		{$label ep_op_temp Valor_Deducciones }	</label>
	<div class="r-search-option">
		{$searchtype_Valor_Deducciones}
	</div>
	<div class="r-search-field">
		{$Valor_Deducciones_editcontrol}	</div>
	<div class="r-search-field">
		{$Valor_Deducciones_editcontrol1}
	</div>
	
</div>

{END Valor_Deducciones_fieldblock}
											
{BEGIN Valor_Neto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Valor_Neto}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Valor Neto" 
	
	data-signal-error-for="Valor_Neto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="Valor_Neto" >


	<label class="r-search-label control-label" for="{$labelfor_Valor_Neto}">
		{$label ep_op_temp Valor_Neto }	</label>
	<div class="r-search-option">
		{$searchtype_Valor_Neto}
	</div>
	<div class="r-search-field">
		{$Valor_Neto_editcontrol}	</div>
	<div class="r-search-field">
		{$Valor_Neto_editcontrol1}
	</div>
	
</div>

{END Valor_Neto_fieldblock}
											
{BEGIN Tipo_Beneficiario_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo_Beneficiario}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Tipo Beneficiario" 
	
	data-signal-error-for="Tipo_Beneficiario{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="Tipo_Beneficiario" >


	<label class="r-search-label control-label" for="{$labelfor_Tipo_Beneficiario}">
		{$label ep_op_temp Tipo_Beneficiario }	</label>
	<div class="r-search-option">
		{$searchtype_Tipo_Beneficiario}
	</div>
	<div class="r-search-field">
		{$Tipo_Beneficiario_editcontrol}	</div>
	<div class="r-search-field">
		{$Tipo_Beneficiario_editcontrol1}
	</div>
	
</div>

{END Tipo_Beneficiario_fieldblock}
											
{BEGIN Vigencia_Presupuestal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Vigencia_Presupuestal}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Vigencia Presupuestal" 
	
	data-signal-error-for="Vigencia_Presupuestal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="Vigencia_Presupuestal" >


	<label class="r-search-label control-label" for="{$labelfor_Vigencia_Presupuestal}">
		{$label ep_op_temp Vigencia_Presupuestal }	</label>
	<div class="r-search-option">
		{$searchtype_Vigencia_Presupuestal}
	</div>
	<div class="r-search-field">
		{$Vigencia_Presupuestal_editcontrol}	</div>
	<div class="r-search-field">
		{$Vigencia_Presupuestal_editcontrol1}
	</div>
	
</div>

{END Vigencia_Presupuestal_fieldblock}
											
{BEGIN Tipo_Identificacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo_Identificacion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Tipo Identificacion" 
	
	data-signal-error-for="Tipo_Identificacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="Tipo_Identificacion" >


	<label class="r-search-label control-label" for="{$labelfor_Tipo_Identificacion}">
		{$label ep_op_temp Tipo_Identificacion }	</label>
	<div class="r-search-option">
		{$searchtype_Tipo_Identificacion}
	</div>
	<div class="r-search-field">
		{$Tipo_Identificacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Tipo_Identificacion_editcontrol1}
	</div>
	
</div>

{END Tipo_Identificacion_fieldblock}
											
{BEGIN Identificacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Identificacion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Identificacion" 
	
	data-signal-error-for="Identificacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="Identificacion" >


	<label class="r-search-label control-label" for="{$labelfor_Identificacion}">
		{$label ep_op_temp Identificacion }	</label>
	<div class="r-search-option">
		{$searchtype_Identificacion}
	</div>
	<div class="r-search-field">
		{$Identificacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Identificacion_editcontrol1}
	</div>
	
</div>

{END Identificacion_fieldblock}
											
{BEGIN Nombre_Razon_Social_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Nombre_Razon_Social}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Nombre Razon Social" 
	
	data-signal-error-for="Nombre_Razon_Social{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="Nombre_Razon_Social" >


	<label class="r-search-label control-label" for="{$labelfor_Nombre_Razon_Social}">
		{$label ep_op_temp Nombre_Razon_Social }	</label>
	<div class="r-search-option">
		{$searchtype_Nombre_Razon_Social}
	</div>
	<div class="r-search-field">
		{$Nombre_Razon_Social_editcontrol}	</div>
	<div class="r-search-field">
		{$Nombre_Razon_Social_editcontrol1}
	</div>
	
</div>

{END Nombre_Razon_Social_fieldblock}
											
{BEGIN Medio_de_Pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Medio_de_Pago}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Medio de Pago" 
	
	data-signal-error-for="Medio_de_Pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="Medio_de_Pago" >


	<label class="r-search-label control-label" for="{$labelfor_Medio_de_Pago}">
		{$label ep_op_temp Medio_de_Pago }	</label>
	<div class="r-search-option">
		{$searchtype_Medio_de_Pago}
	</div>
	<div class="r-search-field">
		{$Medio_de_Pago_editcontrol}	</div>
	<div class="r-search-field">
		{$Medio_de_Pago_editcontrol1}
	</div>
	
</div>

{END Medio_de_Pago_fieldblock}
											
{BEGIN Tipo_Cuenta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo_Cuenta}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Tipo Cuenta" 
	
	data-signal-error-for="Tipo_Cuenta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="Tipo_Cuenta" >


	<label class="r-search-label control-label" for="{$labelfor_Tipo_Cuenta}">
		{$label ep_op_temp Tipo_Cuenta }	</label>
	<div class="r-search-option">
		{$searchtype_Tipo_Cuenta}
	</div>
	<div class="r-search-field">
		{$Tipo_Cuenta_editcontrol}	</div>
	<div class="r-search-field">
		{$Tipo_Cuenta_editcontrol1}
	</div>
	
</div>

{END Tipo_Cuenta_fieldblock}
											
{BEGIN Numero_Cuenta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Numero_Cuenta}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Numero Cuenta" 
	
	data-signal-error-for="Numero_Cuenta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="Numero_Cuenta" >


	<label class="r-search-label control-label" for="{$labelfor_Numero_Cuenta}">
		{$label ep_op_temp Numero_Cuenta }	</label>
	<div class="r-search-option">
		{$searchtype_Numero_Cuenta}
	</div>
	<div class="r-search-field">
		{$Numero_Cuenta_editcontrol}	</div>
	<div class="r-search-field">
		{$Numero_Cuenta_editcontrol1}
	</div>
	
</div>

{END Numero_Cuenta_fieldblock}
											
{BEGIN Estado_Cuenta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Estado_Cuenta}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Estado Cuenta" 
	
	data-signal-error-for="Estado_Cuenta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="Estado_Cuenta" >


	<label class="r-search-label control-label" for="{$labelfor_Estado_Cuenta}">
		{$label ep_op_temp Estado_Cuenta }	</label>
	<div class="r-search-option">
		{$searchtype_Estado_Cuenta}
	</div>
	<div class="r-search-field">
		{$Estado_Cuenta_editcontrol}	</div>
	<div class="r-search-field">
		{$Estado_Cuenta_editcontrol1}
	</div>
	
</div>

{END Estado_Cuenta_fieldblock}
											
{BEGIN Entidad_Nit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Entidad_Nit}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Entidad Nit" 
	
	data-signal-error-for="Entidad_Nit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="Entidad_Nit" >


	<label class="r-search-label control-label" for="{$labelfor_Entidad_Nit}">
		{$label ep_op_temp Entidad_Nit }	</label>
	<div class="r-search-option">
		{$searchtype_Entidad_Nit}
	</div>
	<div class="r-search-field">
		{$Entidad_Nit_editcontrol}	</div>
	<div class="r-search-field">
		{$Entidad_Nit_editcontrol1}
	</div>
	
</div>

{END Entidad_Nit_fieldblock}
											
{BEGIN Entidad_Descripcion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Entidad_Descripcion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Entidad Descripcion" 
	
	data-signal-error-for="Entidad_Descripcion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="Entidad_Descripcion" >


	<label class="r-search-label control-label" for="{$labelfor_Entidad_Descripcion}">
		{$label ep_op_temp Entidad_Descripcion }	</label>
	<div class="r-search-option">
		{$searchtype_Entidad_Descripcion}
	</div>
	<div class="r-search-field">
		{$Entidad_Descripcion_editcontrol}	</div>
	<div class="r-search-field">
		{$Entidad_Descripcion_editcontrol1}
	</div>
	
</div>

{END Entidad_Descripcion_fieldblock}
											
{BEGIN Dependencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Dependencia}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Dependencia" 
	
	data-signal-error-for="Dependencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="Dependencia" >


	<label class="r-search-label control-label" for="{$labelfor_Dependencia}">
		{$label ep_op_temp Dependencia }	</label>
	<div class="r-search-option">
		{$searchtype_Dependencia}
	</div>
	<div class="r-search-field">
		{$Dependencia_editcontrol}	</div>
	<div class="r-search-field">
		{$Dependencia_editcontrol1}
	</div>
	
</div>

{END Dependencia_fieldblock}
											
{BEGIN Dependencia_Descripcion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Dependencia_Descripcion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Dependencia Descripcion" 
	
	data-signal-error-for="Dependencia_Descripcion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="Dependencia_Descripcion" >


	<label class="r-search-label control-label" for="{$labelfor_Dependencia_Descripcion}">
		{$label ep_op_temp Dependencia_Descripcion }	</label>
	<div class="r-search-option">
		{$searchtype_Dependencia_Descripcion}
	</div>
	<div class="r-search-field">
		{$Dependencia_Descripcion_editcontrol}	</div>
	<div class="r-search-field">
		{$Dependencia_Descripcion_editcontrol1}
	</div>
	
</div>

{END Dependencia_Descripcion_fieldblock}
											
{BEGIN Rubro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Rubro}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Rubro" 
	
	data-signal-error-for="Rubro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="Rubro" >


	<label class="r-search-label control-label" for="{$labelfor_Rubro}">
		{$label ep_op_temp Rubro }	</label>
	<div class="r-search-option">
		{$searchtype_Rubro}
	</div>
	<div class="r-search-field">
		{$Rubro_editcontrol}	</div>
	<div class="r-search-field">
		{$Rubro_editcontrol1}
	</div>
	
</div>

{END Rubro_fieldblock}
											
{BEGIN Descripcion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Descripcion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Descripcion" 
	
	data-signal-error-for="Descripcion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="Descripcion" >


	<label class="r-search-label control-label" for="{$labelfor_Descripcion}">
		{$label ep_op_temp Descripcion }	</label>
	<div class="r-search-option">
		{$searchtype_Descripcion}
	</div>
	<div class="r-search-field">
		{$Descripcion_editcontrol}	</div>
	<div class="r-search-field">
		{$Descripcion_editcontrol1}
	</div>
	
</div>

{END Descripcion_fieldblock}
											
{BEGIN Fuente_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Fuente}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Fuente" 
	
	data-signal-error-for="Fuente{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="Fuente" >


	<label class="r-search-label control-label" for="{$labelfor_Fuente}">
		{$label ep_op_temp Fuente }	</label>
	<div class="r-search-option">
		{$searchtype_Fuente}
	</div>
	<div class="r-search-field">
		{$Fuente_editcontrol}	</div>
	<div class="r-search-field">
		{$Fuente_editcontrol1}
	</div>
	
</div>

{END Fuente_fieldblock}
											
{BEGIN Recurso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Recurso}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Recurso" 
	
	data-signal-error-for="Recurso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="Recurso" >


	<label class="r-search-label control-label" for="{$labelfor_Recurso}">
		{$label ep_op_temp Recurso }	</label>
	<div class="r-search-option">
		{$searchtype_Recurso}
	</div>
	<div class="r-search-field">
		{$Recurso_editcontrol}	</div>
	<div class="r-search-field">
		{$Recurso_editcontrol1}
	</div>
	
</div>

{END Recurso_fieldblock}
											
{BEGIN Sit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Sit}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Sit" 
	
	data-signal-error-for="Sit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="Sit" >


	<label class="r-search-label control-label" for="{$labelfor_Sit}">
		{$label ep_op_temp Sit }	</label>
	<div class="r-search-option">
		{$searchtype_Sit}
	</div>
	<div class="r-search-field">
		{$Sit_editcontrol}	</div>
	<div class="r-search-field">
		{$Sit_editcontrol1}
	</div>
	
</div>

{END Sit_fieldblock}
											
{BEGIN Valor_Pesos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Valor_Pesos}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Valor Pesos" 
	
	data-signal-error-for="Valor_Pesos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="Valor_Pesos" >


	<label class="r-search-label control-label" for="{$labelfor_Valor_Pesos}">
		{$label ep_op_temp Valor_Pesos }	</label>
	<div class="r-search-option">
		{$searchtype_Valor_Pesos}
	</div>
	<div class="r-search-field">
		{$Valor_Pesos_editcontrol}	</div>
	<div class="r-search-field">
		{$Valor_Pesos_editcontrol1}
	</div>
	
</div>

{END Valor_Pesos_fieldblock}
											
{BEGIN Valor_Moneda_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Valor_Moneda}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Valor Moneda" 
	
	data-signal-error-for="Valor_Moneda{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="Valor_Moneda" >


	<label class="r-search-label control-label" for="{$labelfor_Valor_Moneda}">
		{$label ep_op_temp Valor_Moneda }	</label>
	<div class="r-search-option">
		{$searchtype_Valor_Moneda}
	</div>
	<div class="r-search-field">
		{$Valor_Moneda_editcontrol}	</div>
	<div class="r-search-field">
		{$Valor_Moneda_editcontrol1}
	</div>
	
</div>

{END Valor_Moneda_fieldblock}
											
{BEGIN Valor_Reintegrado_Pesos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Valor_Reintegrado_Pesos}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Valor Reintegrado Pesos" 
	
	data-signal-error-for="Valor_Reintegrado_Pesos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="Valor_Reintegrado_Pesos" >


	<label class="r-search-label control-label" for="{$labelfor_Valor_Reintegrado_Pesos}">
		{$label ep_op_temp Valor_Reintegrado_Pesos }	</label>
	<div class="r-search-option">
		{$searchtype_Valor_Reintegrado_Pesos}
	</div>
	<div class="r-search-field">
		{$Valor_Reintegrado_Pesos_editcontrol}	</div>
	<div class="r-search-field">
		{$Valor_Reintegrado_Pesos_editcontrol1}
	</div>
	
</div>

{END Valor_Reintegrado_Pesos_fieldblock}
											
{BEGIN Valor_Reintegrado_Moneda_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Valor_Reintegrado_Moneda}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Valor Reintegrado Moneda" 
	
	data-signal-error-for="Valor_Reintegrado_Moneda{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="Valor_Reintegrado_Moneda" >


	<label class="r-search-label control-label" for="{$labelfor_Valor_Reintegrado_Moneda}">
		{$label ep_op_temp Valor_Reintegrado_Moneda }	</label>
	<div class="r-search-option">
		{$searchtype_Valor_Reintegrado_Moneda}
	</div>
	<div class="r-search-field">
		{$Valor_Reintegrado_Moneda_editcontrol}	</div>
	<div class="r-search-field">
		{$Valor_Reintegrado_Moneda_editcontrol1}
	</div>
	
</div>

{END Valor_Reintegrado_Moneda_fieldblock}
											
{BEGIN Tesoreria_Pagadora_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tesoreria_Pagadora}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Tesoreria Pagadora" 
	
	data-signal-error-for="Tesoreria_Pagadora{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="Tesoreria_Pagadora" >


	<label class="r-search-label control-label" for="{$labelfor_Tesoreria_Pagadora}">
		{$label ep_op_temp Tesoreria_Pagadora }	</label>
	<div class="r-search-option">
		{$searchtype_Tesoreria_Pagadora}
	</div>
	<div class="r-search-field">
		{$Tesoreria_Pagadora_editcontrol}	</div>
	<div class="r-search-field">
		{$Tesoreria_Pagadora_editcontrol1}
	</div>
	
</div>

{END Tesoreria_Pagadora_fieldblock}
											
{BEGIN Identificacion_Pagaduria_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Identificacion_Pagaduria}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Identificacion Pagaduria" 
	
	data-signal-error-for="Identificacion_Pagaduria{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="Identificacion_Pagaduria" >


	<label class="r-search-label control-label" for="{$labelfor_Identificacion_Pagaduria}">
		{$label ep_op_temp Identificacion_Pagaduria }	</label>
	<div class="r-search-option">
		{$searchtype_Identificacion_Pagaduria}
	</div>
	<div class="r-search-field">
		{$Identificacion_Pagaduria_editcontrol}	</div>
	<div class="r-search-field">
		{$Identificacion_Pagaduria_editcontrol1}
	</div>
	
</div>

{END Identificacion_Pagaduria_fieldblock}
											
{BEGIN Cuenta_Pagaduria_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Cuenta_Pagaduria}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Cuenta Pagaduria" 
	
	data-signal-error-for="Cuenta_Pagaduria{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="Cuenta_Pagaduria" >


	<label class="r-search-label control-label" for="{$labelfor_Cuenta_Pagaduria}">
		{$label ep_op_temp Cuenta_Pagaduria }	</label>
	<div class="r-search-option">
		{$searchtype_Cuenta_Pagaduria}
	</div>
	<div class="r-search-field">
		{$Cuenta_Pagaduria_editcontrol}	</div>
	<div class="r-search-field">
		{$Cuenta_Pagaduria_editcontrol1}
	</div>
	
</div>

{END Cuenta_Pagaduria_fieldblock}
											
{BEGIN Endosada_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Endosada}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Endosada" 
	
	data-signal-error-for="Endosada{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="Endosada" >


	<label class="r-search-label control-label" for="{$labelfor_Endosada}">
		{$label ep_op_temp Endosada }	</label>
	<div class="r-search-option">
		{$searchtype_Endosada}
	</div>
	<div class="r-search-field">
		{$Endosada_editcontrol}	</div>
	<div class="r-search-field">
		{$Endosada_editcontrol1}
	</div>
	
</div>

{END Endosada_fieldblock}
											
{BEGIN Tipo_Identificacion1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo_Identificacion1}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Tipo Identificacion1" 
	
	data-signal-error-for="Tipo_Identificacion1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="Tipo_Identificacion1" >


	<label class="r-search-label control-label" for="{$labelfor_Tipo_Identificacion1}">
		{$label ep_op_temp Tipo_Identificacion1 }	</label>
	<div class="r-search-option">
		{$searchtype_Tipo_Identificacion1}
	</div>
	<div class="r-search-field">
		{$Tipo_Identificacion1_editcontrol}	</div>
	<div class="r-search-field">
		{$Tipo_Identificacion1_editcontrol1}
	</div>
	
</div>

{END Tipo_Identificacion1_fieldblock}
											
{BEGIN Identificacion1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Identificacion1}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Identificacion1" 
	
	data-signal-error-for="Identificacion1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="Identificacion1" >


	<label class="r-search-label control-label" for="{$labelfor_Identificacion1}">
		{$label ep_op_temp Identificacion1 }	</label>
	<div class="r-search-option">
		{$searchtype_Identificacion1}
	</div>
	<div class="r-search-field">
		{$Identificacion1_editcontrol}	</div>
	<div class="r-search-field">
		{$Identificacion1_editcontrol1}
	</div>
	
</div>

{END Identificacion1_fieldblock}
											
{BEGIN Razon_social_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Razon_social}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Razon social" 
	
	data-signal-error-for="Razon_social{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="Razon_social" >


	<label class="r-search-label control-label" for="{$labelfor_Razon_social}">
		{$label ep_op_temp Razon_social }	</label>
	<div class="r-search-option">
		{$searchtype_Razon_social}
	</div>
	<div class="r-search-field">
		{$Razon_social_editcontrol}	</div>
	<div class="r-search-field">
		{$Razon_social_editcontrol1}
	</div>
	
</div>

{END Razon_social_fieldblock}
											
{BEGIN Numero_Cuenta1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Numero_Cuenta1}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Numero Cuenta1" 
	
	data-signal-error-for="Numero_Cuenta1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="Numero_Cuenta1" >


	<label class="r-search-label control-label" for="{$labelfor_Numero_Cuenta1}">
		{$label ep_op_temp Numero_Cuenta1 }	</label>
	<div class="r-search-option">
		{$searchtype_Numero_Cuenta1}
	</div>
	<div class="r-search-field">
		{$Numero_Cuenta1_editcontrol}	</div>
	<div class="r-search-field">
		{$Numero_Cuenta1_editcontrol1}
	</div>
	
</div>

{END Numero_Cuenta1_fieldblock}
											
{BEGIN Concepto_Pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Concepto_Pago}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Concepto Pago" 
	
	data-signal-error-for="Concepto_Pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="Concepto_Pago" >


	<label class="r-search-label control-label" for="{$labelfor_Concepto_Pago}">
		{$label ep_op_temp Concepto_Pago }	</label>
	<div class="r-search-option">
		{$searchtype_Concepto_Pago}
	</div>
	<div class="r-search-field">
		{$Concepto_Pago_editcontrol}	</div>
	<div class="r-search-field">
		{$Concepto_Pago_editcontrol1}
	</div>
	
</div>

{END Concepto_Pago_fieldblock}
											
{BEGIN Solicitud_CDP_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Solicitud_CDP}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Solicitud CDP" 
	
	data-signal-error-for="Solicitud_CDP{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field39" {$item_integrated_search_field39} data-pageid="{$pageid}" data-field="Solicitud_CDP" >


	<label class="r-search-label control-label" for="{$labelfor_Solicitud_CDP}">
		{$label ep_op_temp Solicitud_CDP }	</label>
	<div class="r-search-option">
		{$searchtype_Solicitud_CDP}
	</div>
	<div class="r-search-field">
		{$Solicitud_CDP_editcontrol}	</div>
	<div class="r-search-field">
		{$Solicitud_CDP_editcontrol1}
	</div>
	
</div>

{END Solicitud_CDP_fieldblock}
											
{BEGIN CDP_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CDP}  r-horizontal-field form-horizontal" 
	
		data-fieldname="CDP" 
	
	data-signal-error-for="CDP{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field40" {$item_integrated_search_field40} data-pageid="{$pageid}" data-field="CDP" >


	<label class="r-search-label control-label" for="{$labelfor_CDP}">
		{$label ep_op_temp CDP }	</label>
	<div class="r-search-option">
		{$searchtype_CDP}
	</div>
	<div class="r-search-field">
		{$CDP_editcontrol}	</div>
	<div class="r-search-field">
		{$CDP_editcontrol1}
	</div>
	
</div>

{END CDP_fieldblock}
											
{BEGIN Compromisos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Compromisos}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Compromisos" 
	
	data-signal-error-for="Compromisos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field41" {$item_integrated_search_field41} data-pageid="{$pageid}" data-field="Compromisos" >


	<label class="r-search-label control-label" for="{$labelfor_Compromisos}">
		{$label ep_op_temp Compromisos }	</label>
	<div class="r-search-option">
		{$searchtype_Compromisos}
	</div>
	<div class="r-search-field">
		{$Compromisos_editcontrol}	</div>
	<div class="r-search-field">
		{$Compromisos_editcontrol1}
	</div>
	
</div>

{END Compromisos_fieldblock}
											
{BEGIN Cuentas_por_Pagar_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Cuentas_por_Pagar}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Cuentas por Pagar" 
	
	data-signal-error-for="Cuentas_por_Pagar{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field42" {$item_integrated_search_field42} data-pageid="{$pageid}" data-field="Cuentas_por_Pagar" >


	<label class="r-search-label control-label" for="{$labelfor_Cuentas_por_Pagar}">
		{$label ep_op_temp Cuentas_por_Pagar }	</label>
	<div class="r-search-option">
		{$searchtype_Cuentas_por_Pagar}
	</div>
	<div class="r-search-field">
		{$Cuentas_por_Pagar_editcontrol}	</div>
	<div class="r-search-field">
		{$Cuentas_por_Pagar_editcontrol1}
	</div>
	
</div>

{END Cuentas_por_Pagar_fieldblock}
											
{BEGIN Fecha_Cuentas_por_Pagar_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha_Cuentas_por_Pagar}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Fecha Cuentas por Pagar" 
	
	data-signal-error-for="Fecha_Cuentas_por_Pagar{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field43" {$item_integrated_search_field43} data-pageid="{$pageid}" data-field="Fecha_Cuentas_por_Pagar" >


	<label class="r-search-label control-label" for="{$labelfor_Fecha_Cuentas_por_Pagar}">
		{$label ep_op_temp Fecha_Cuentas_por_Pagar }	</label>
	<div class="r-search-option">
		{$searchtype_Fecha_Cuentas_por_Pagar}
	</div>
	<div class="r-search-field">
		{$Fecha_Cuentas_por_Pagar_editcontrol}	</div>
	<div class="r-search-field">
		{$Fecha_Cuentas_por_Pagar_editcontrol1}
	</div>
	
</div>

{END Fecha_Cuentas_por_Pagar_fieldblock}
											
{BEGIN Obligaciones_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Obligaciones}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Obligaciones" 
	
	data-signal-error-for="Obligaciones{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field44" {$item_integrated_search_field44} data-pageid="{$pageid}" data-field="Obligaciones" >


	<label class="r-search-label control-label" for="{$labelfor_Obligaciones}">
		{$label ep_op_temp Obligaciones }	</label>
	<div class="r-search-option">
		{$searchtype_Obligaciones}
	</div>
	<div class="r-search-field">
		{$Obligaciones_editcontrol}	</div>
	<div class="r-search-field">
		{$Obligaciones_editcontrol1}
	</div>
	
</div>

{END Obligaciones_fieldblock}
											
{BEGIN Ordenes_de_Pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Ordenes_de_Pago}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Ordenes de Pago" 
	
	data-signal-error-for="Ordenes_de_Pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field45" {$item_integrated_search_field45} data-pageid="{$pageid}" data-field="Ordenes_de_Pago" >


	<label class="r-search-label control-label" for="{$labelfor_Ordenes_de_Pago}">
		{$label ep_op_temp Ordenes_de_Pago }	</label>
	<div class="r-search-option">
		{$searchtype_Ordenes_de_Pago}
	</div>
	<div class="r-search-field">
		{$Ordenes_de_Pago_editcontrol}	</div>
	<div class="r-search-field">
		{$Ordenes_de_Pago_editcontrol1}
	</div>
	
</div>

{END Ordenes_de_Pago_fieldblock}
											
{BEGIN Reintegros_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Reintegros}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Reintegros" 
	
	data-signal-error-for="Reintegros{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field46" {$item_integrated_search_field46} data-pageid="{$pageid}" data-field="Reintegros" >


	<label class="r-search-label control-label" for="{$labelfor_Reintegros}">
		{$label ep_op_temp Reintegros }	</label>
	<div class="r-search-option">
		{$searchtype_Reintegros}
	</div>
	<div class="r-search-field">
		{$Reintegros_editcontrol}	</div>
	<div class="r-search-field">
		{$Reintegros_editcontrol1}
	</div>
	
</div>

{END Reintegros_fieldblock}
											
{BEGIN Fecha_Doc_Soporte_Compromiso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha_Doc_Soporte_Compromiso}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Fecha Doc Soporte Compromiso" 
	
	data-signal-error-for="Fecha_Doc_Soporte_Compromiso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field47" {$item_integrated_search_field47} data-pageid="{$pageid}" data-field="Fecha_Doc_Soporte_Compromiso" >


	<label class="r-search-label control-label" for="{$labelfor_Fecha_Doc_Soporte_Compromiso}">
		{$label ep_op_temp Fecha_Doc_Soporte_Compromiso }	</label>
	<div class="r-search-option">
		{$searchtype_Fecha_Doc_Soporte_Compromiso}
	</div>
	<div class="r-search-field">
		{$Fecha_Doc_Soporte_Compromiso_editcontrol}	</div>
	<div class="r-search-field">
		{$Fecha_Doc_Soporte_Compromiso_editcontrol1}
	</div>
	
</div>

{END Fecha_Doc_Soporte_Compromiso_fieldblock}
											
{BEGIN Tipo_Doc_Soporte_Compromiso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo_Doc_Soporte_Compromiso}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Tipo Doc Soporte Compromiso" 
	
	data-signal-error-for="Tipo_Doc_Soporte_Compromiso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field48" {$item_integrated_search_field48} data-pageid="{$pageid}" data-field="Tipo_Doc_Soporte_Compromiso" >


	<label class="r-search-label control-label" for="{$labelfor_Tipo_Doc_Soporte_Compromiso}">
		{$label ep_op_temp Tipo_Doc_Soporte_Compromiso }	</label>
	<div class="r-search-option">
		{$searchtype_Tipo_Doc_Soporte_Compromiso}
	</div>
	<div class="r-search-field">
		{$Tipo_Doc_Soporte_Compromiso_editcontrol}	</div>
	<div class="r-search-field">
		{$Tipo_Doc_Soporte_Compromiso_editcontrol1}
	</div>
	
</div>

{END Tipo_Doc_Soporte_Compromiso_fieldblock}
											
{BEGIN Num_Doc_Soporte_Compromiso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Num_Doc_Soporte_Compromiso}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Num Doc Soporte Compromiso" 
	
	data-signal-error-for="Num_Doc_Soporte_Compromiso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field49" {$item_integrated_search_field49} data-pageid="{$pageid}" data-field="Num_Doc_Soporte_Compromiso" >


	<label class="r-search-label control-label" for="{$labelfor_Num_Doc_Soporte_Compromiso}">
		{$label ep_op_temp Num_Doc_Soporte_Compromiso }	</label>
	<div class="r-search-option">
		{$searchtype_Num_Doc_Soporte_Compromiso}
	</div>
	<div class="r-search-field">
		{$Num_Doc_Soporte_Compromiso_editcontrol}	</div>
	<div class="r-search-field">
		{$Num_Doc_Soporte_Compromiso_editcontrol1}
	</div>
	
</div>

{END Num_Doc_Soporte_Compromiso_fieldblock}
											
{BEGIN Objeto_del_Compromiso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Objeto_del_Compromiso}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Objeto del Compromiso" 
	
	data-signal-error-for="Objeto_del_Compromiso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field50" {$item_integrated_search_field50} data-pageid="{$pageid}" data-field="Objeto_del_Compromiso" >


	<label class="r-search-label control-label" for="{$labelfor_Objeto_del_Compromiso}">
		{$label ep_op_temp Objeto_del_Compromiso }	</label>
	<div class="r-search-option">
		{$searchtype_Objeto_del_Compromiso}
	</div>
	<div class="r-search-field">
		{$Objeto_del_Compromiso_editcontrol}	</div>
	<div class="r-search-field">
		{$Objeto_del_Compromiso_editcontrol1}
	</div>
	
</div>

{END Objeto_del_Compromiso_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
